
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --button-color: #4CAF50;
    --button-hover-color: #45a049;
    --operator-button-color: #f44336;
    --operator-button-hover-color: #e53935;
    --control-button-color: #2196F3;
    --control-button-hover-color: #1976D2;
    --equals-button-color: #FF9800;
    --equals-button-hover-color: #F57C00;
    --font-color: #333;
    --primary-color: #f0f0f0;
    --secondary-color: #333;
}

body {
    font-family: 'Jua', sans-serif;
    background-color: #ffffff;
    color: #333;
}


header{
    text-align: center;
    margin: 20px ;
    
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-sub-container{
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 0 20px;
}
.header-sub-container p{
    margin-right: 20px;
    font-size: 1.5rem;
    color: #333;
}

.container{
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.display-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}